<!DOCTYPE html>
<html lang="en">

   <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="greet.css">
    <title>greetings</title>
<body>
     <section class="login">
    {{{body}}}
     </section>
     
     <script>
     document.addEventListener('DOMContentLoaded',function(){
    var errors = document.querySelector(".error1");
    

if(errors.innerHTML  !== ' ' )  {

setTimeout(function () {
    errors.innerHTML = ' ';
  

}, 3000);
}
});
     </script>
     
</body>
</html>

