<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/greet.css">
    <title>Document</title>
</head>

<body>

    <div class="message">

    <h1>list of greeted names</h1>

<ul>
    {{#each nameList}}
  <li> <a href="/counters/{{name}}">{{name}}</a></li>
 {{/each}}
</ul> 



</div>
<form>
 <input class="back" type="button" value="Go back!" onclick="history.back()">
</form>

</body>

</html>
