<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/greet.css">
    <title>greetings</title>
</head>

<body>

    <header>
        <div class="header">
            <h1>greetings</h1>
        </div>
    </header>

    <section>
        <form action="/greetings" Method = "POST">
        <span class="error1"> </span> 
       
        <div class="counter-and-input">
           
            <div class="name-input">
                <span class="detail">name</span>
                <input type="text" name="enterName" value="" placeholder="enter name" class="name1">
            </div>
            
            <div class="counter">
                <h1>counter</h1>
                <span class="counterClc">0</span>
            </div>
        </div>
        

        <div class="radio-language">
            <input type="radio" name="language" id="lingustic"  value="IsiZulu">IsiZulu
            <input type="radio" name="language" id="lingustic"  value="English">Engilish
            <input type="radio" name="language" id="lingustic" value="Italian">Italian
        </div>

        <div class="greetmebtn">
            <button class="greetme" type="submit" name="button">greet-me!!</button>
        </div>
       
        
        </form>
       
 <div class="pop-up">
     {{greetMe}}
 </div> 
       

        <button class="counterbtn">reset</button>

       

        </div>


    </section>
</body>


</html>
