<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="greet.css">
    <title>greetings</title>
</head>

<body>

    <header>
        <hr>
        <h1>greetings</h1>
        <hr>
    </header>

    <section class="login-box">

        <form action="/greetings" Method="POST">

            <div>
                {{#if messages.error1}}
            <span class="error1">{{messages.error1}} </span>
            {{/if}}
              {{!-- {{#if messages.success}} --}}
            <span class="success">{{messages.success}} </span>
            {{!-- {{/if}} --}}
            </div>
            <div class="counter-and-input">

                <div class="name-input">
                    <label class="detail">name</label>
                    <input type="text" name="enterName" value="" placeholder="enter name" class="name1">

                </div>


                <div class="counter">
                    <label>counter</label>
                    <span class="counterClc">{{counter}}</span>
                </div>
            </div>


            <div class="radio-language">
                <input type="radio" name="language" id="lingustic" value="IsiZulu">IsiZulu
                <input type="radio" name="language" id="lingustic" value="English">Engilish
                <input type="radio" name="language" id="lingustic" value="Italian">Italian
            </div>

            <div class="greetmebtn">
                <button class="greetme" type="submit" name="button">greet-me!!</button>
            </div>



        </form>
        
        <div class="buttons">
            
            <div class="list">
                <a href="/greeted" class="btn"><button type="submit">nameList</button></a>
            </div>

            <a href="removeName" ><button class="counterbtn" type="submit" value ="reset" name = "reset">reset</button></a>
        </div>
       
        <div class="pop-up">

            {{greetMe}}
        </div>


    </section>
    

</body>


</html>