

     body{
         background-color: peachpuff;
         font-size: large;
     }

     h1{
         font-size: 40px;
         color: rgb(8, 16, 87);
         text-align: center;
         padding: 25px 0;
     }

     .login-box{
        /* width: 50%; */
        /* margin: 50px auto; */
        border: 2px solid rgb(8, 16, 87);
        background: rgba(0,0,0,.5);
        box-sizing: border-box;
        box-shadow: 0 10px 20px rgba(0,0,0,.6);
        border-radius: 10px;
        padding: 30px; 
     }
     .error1{
        color:red;
        font-size: 20px;
        padding-bottom:30px;
    }
     .counter-and-input{
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 35px;
    }
    .counter{

        padding-left: 10px;
        margin-top: 20px;
       
    }

    .radio-language{
        padding-bottom: 35px;
       

    }

     input{
        padding: 20px;
        border-radius: 20px
    }

    .btn, button{
        padding: 20px;
        border-radius: 30px;
        

    }

    .radio-language input{
        padding: 25px;
    }

     .list, .removeName{
        /* display: flex; */
        display: inline-grid;
        padding-left: 15px;
        align-items: center;
       
        
    }
    .greetmebtn{
        padding: 30px;
        margin: 30px;
        font-size: xx-large;
        align-items: center;
    }
    .pop-up{
        font-size: xx-large   
    }
    
    .message {
        font-size: xx-large;
        text-align: center;
       
       
    }
   ul{
    list-style-type: none; 
   }
   .back{
    font-size: x-large;
    text-align: center; 
   }
   .success {
       color:navy;
   }
   @media screen and (min-width: 450px) {
    .radio-language{
        display:flex;
        text-align: left;
        margin-left: 40px;

    }

    .login-box{
        width: 50%;
        margin: 50px auto;
        border: 2px solid rgb(8, 16, 87);
        background: rgba(0,0,0,.5);
        box-sizing: border-box;
        box-shadow: 0 10px 20px rgba(0,0,0,.6);
        border-radius: 10px;
        padding: 30px; 
     }
    
     h1{
        font-size: 20px;
        color: rgb(8, 16, 87);
        text-align: center;
        padding: 25px 0;
    }
    .btn, button{
        padding: 20px;
        border-radius: 30px;
        

    }
    .counter-and-input{
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 35px;
    }
    
}



  